{{#if url}}
  <form action="/editar/{{url._id}}" method="POST">
    <input
      value="{{url.origin}}"
      type="text"
      placeholder="ingresa url"
      name="origin"
      class="form-control my-2"
    />
    <button type="submit" class="btn btn-warning w-100 mb-2">Editar Url</button>
  </form>
{{else}}
  <form action="/" method="POST">
    <input
      type="text"
      placeholder="ingresa url"
      name="origin"
      class="form-control my-2"
    />
    <button type="submit" class="btn btn-primary w-100 mb-2">Agregar Url</button>
  </form>
{{/if}}