<h1 class="text-center my-5">Registro de Usuarios</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    <form action="/auth/register" method="POST">
      <input
        type="text"
        name="userName"
        class="form-control mb-2"
        placeholder="Ingresar nombre"
        value="Amadeo"
      />
      <input
        type="text"
        name="email"
        class="form-control mb-2"
        placeholder="Ingresar email"
        value="ama@test.com"
      />
      <input
        type="password"
        name="password"
        class="form-control mb-2"
        placeholder="Ingresar password"
        value="123123"
      />
      <input
        type="password"
        name="repassword"
        class="form-control mb-2"
        placeholder="Reingresar password"
        value="123123"
      />
      <button class="btn btn-primary" type="submit">Registrar usuario</button>
    </form>
  </div>
</div>